<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
    <link rel="stylesheet" th:href="@{/design.css}">
</head>
<body>
<div class="container">
    <h1>Willkommen beim Autohaus-Manager</h1>
    <p>Datum: <span th:text="${currentDateTime}"></span></p>
    <div>
        <a href="/autohausmanager/list" class="btn btn-primary">Liste aller Autos anzeigen</a>
        <a href="/autohausmanager/add" class="btn btn-success">Neues Auto hinzufügen</a>

    </div>
</div>
</body>

</html>